*{
    margin: 0;
    padding: 0;
}
body{
    background: url("gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    margin: 36px auto 50px auto; 
    display:flex;
    justify-content: center; 
}

.second{
    width: 540px;
    background-color: rgba(255, 255, 255, 0.336);
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.grey{
    display: inline-block; 
}
.h1{
    margin: 0px auto 17px auto;
}

#caption{
    font-size: 20px;
}

#form{
    font-size: 16px;
    /* box-shadow: inset 5em 1em gold; */
}








